provider "static_server" {}	

resource "static_server" "server1-run1" {
	address = "test.server.com"
	increment = "1"
	connection {
		type = "ssh"
		user = "username"
		key_file = "key"
		agent = "false"
	}
	provisioner "remote-exec" {
		inline = [
			"echo on first"
		]
	}
}

resource "static_server" "server2-run1" {
	address = "test.server.com"
	increment = "2"
	connection {
		type = "ssh"
		user = "username"
		key_file = "key"
		agent = "false"
	}
	provisioner "remote-exec" {
		inline = [
			"echo on second"
		]
	}
}
